.dialog-modal {
  margin-left: 0px;
  z-index: 0;

}

.add__user {
  width: auto;
  padding: 3px 8px;
  background-color: #296656;
}

.input {
  margin-top: 7px;
  margin-bottom: 15px;
  margin-right: 15px;
  padding-right: 10px;
}
.content {
  margin-top: 5%px;
}
.action {
  margin-right: 3%;
}
