.navbar__parent {
  position: fixed;
  height: 81px;
  width: calc(100% - 200px);
  margin-left: 200px;
  transition: all 0.4s ease;

  header {
    background-color: #fff;
    box-shadow: 0 6px 7px -1px rgba(0, 0, 0, 0.1);
  }

  .navbar {
    background-color: white !important;
    color: black;
    font-weight: 600;
    font-size: 20px;

    .navbar-title {
      font-family: "Poppins";
      font-weight: bold;
    }

    .search-input {
      border: 1px solid gray;
      display: flex;
      justify-content: space-between;

      .search-input__icon {
        background-color: #296656;
        color: white;
        border-radius: 0%;

        &:hover {
          border-radius: 0%;
          background-color:rgb(187, 183, 183);
        }
      }

      .search-input__text {
        color: black;
        margin-left: 10px;
      }
    }

    .items {
      margin-top: 8px;
      vertical-align: middle;
    }
  }
}

.closed {
  position: fixed;
  height: 81px;
  width: calc(100% - 70px);
  margin-left: 70px;
  transition: all 0.4s ease;
}

@media screen and (max-width: 750px) {
  .closed {
    margin-left: 70px;
  }

  .navbar__parent.opened {
    width: calc(100% - 240px);
    margin-left: 240px;
  }
}

@media screen and (max-width: 500px) {
  .closed {
    margin-left: 70px;
  }

  .navbar__parent.opened {
    height: 81px;
    width: calc(100% - 0px);
    margin-left: 0px;
  }
}
